body {
    font-family: sans-serif;
    vertical-align: top;
    background: url(http://cdn.bulbagarden.net/upload/thumb/a/ae/Castelia_City.png/300px-Castelia_City.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#fightTable{
    position: absolute;
    top: 25%;
    left: 80%;
}


#decidueyeSelectOutput{
    position: absolute;
    top: 45%;
}
#incineroarSelectOutput{
    position: absolute;
    top: 45%;
    left: 15%;
}
#primarinaSelectOutput{
    position: absolute;
    top: 45%;
    left: 31%;
}
#crabominableSelectOutput{
    position: absolute;
    top: 40%;
    left: 43%;
}
#oranguruSelectOutput{
    position: absolute;
    top: 45%;
    left: 60%;
}
#vikavoltSelectOutput{
    position: absolute;
    top: 45%;
    left: 75%;
}

#decidueyeIcon{
    position: absolute;
    top: 7%;
    left: 5%;
}
#incineroarIcon{
    position: absolute;
    top: 7%;
    left: 10%;
}
#primarinaIcon{
    position: absolute;
    top: 7%;
    left: 15%;
}
#crabominableIcon{
    position: absolute;
    top: 7%;
    left: 20%;
}
#oranguruIcon{
    position: absolute;
    top: 7%;
    left: 25%;
}
#vikavoltIcon{
    position: absolute;
    top: 7%;
    left: 30%;
}

#decidueyeBattleOutput{
    position: absolute;
    top: 50%;
    left: 20%;
}
#incineroarBattleOutput{
    position: absolute;
    top: 45%;
    left: 20%;
}
#primarinaBattleOutput{
    position: absolute;
    top: 45%;
    left: 20%;
}
#crabominableBattleOutput{
    position: absolute;
    top: 50%;
    left: 20%;
}
#oranguruBattleOutput{
    position: absolute;
    top: 58%;
    left: 22%;
}
#vikavoltBattleOutput{
    position: absolute;
    top: 50%;
    left: 20%;
}

#nihilegoBattleOutput{
    position: absolute;
    top: 47%;
    left: 60%;
}
#buzzwoleBattleOutput{
    position: absolute;
    top: 37%;
    left: 60%;
}
#pheromosaBattleOutput{
    position: absolute;
    top: 42%;
    left: 60%;
}
#xurkitreeBattleOutput{
    position: absolute;
    top: 38%;
    left: 55%;
}
#kartanaBattleOutput{
    position: absolute;
    top: 56%;
    left: 60%;
}
#celesteelaBattleOutput{
    position: absolute;
    top: 20%;
    left: 60%;
}
#guzzlordBattleOutput{
    position: absolute;
    top: 40%;
    left: 60%;
}

#deciStartBattle{
    font: bold 75px cambria, sans-serif;
    position: absolute;
    top: 80%;
    left: 32%;
}
#inciStartBattle{
    font: bold 75px cambria, sans-serif;
    position: absolute;
    top: 80%;
    left: 30%;
}
#primStartBattle{
    font: bold 75px cambria, sans-serif;
    position: absolute;
    top: 80%;
    left: 30%;
}
#crabStartBattle{
    font: bold 75px cambria, sans-serif;
    position: absolute;
    top: 80%;
    left: 27%;
}
#oranStartBattle{
    font: bold 75px cambria, sans-serif;
    position: absolute;
    top: 80%;
    left: 32%;
}
#vikaStartBattle{
    font: bold 75px cambria, sans-serif;
    position: absolute;
    top: 80%;
    left: 34%;
}
#nihiStartBattle{
    font: bold 75px cambria, sans-serif;
    position: absolute;
    top: 80%;
    left: 30%;
}
#buzzStartBattle{
    font: bold 75px cambria, sans-serif;
    position: absolute;
    top: 80%;
    left: 27%;
}
#pherStartBattle{
    font: bold 75px cambria, sans-serif;
    position: absolute;
    top: 80%;
    left: 25%;
}
#xurkStartBattle{
    font: bold 75px cambria, sans-serif;
    position: absolute;
    top: 80%;
    left: 28%;
}
#kartStartBattle{
    font: bold 75px cambria, sans-serif;
    position: absolute;
    top: 80%;
    left: 29%;
}
#celeStartBattle{
    font: bold 75px cambria, sans-serif;
    position: absolute;
    top: 80%;
    left: 26%;
}
#guzzStartBattle{
    font: bold 75px cambria, sans-serif;
    position: absolute;
    top: 80%;
    left: 26%;
}


#chooseTeam{
    position: absolute;
    top: 40%;
    left: 43%;
}
#confirmTeam{
    position: absolute;
    top: 90%;
    left: 80%;
}
#backToHub{
    position: absolute;
    top: 45%;
    left: 35%;
}

#moveButtonOne{
    position: absolute;
    top: 80%;
    left: 5%;
}
#moveButtonTwo{
    position: absolute;
    top: 80%;
    left: 30%;
}
#moveButtonThree{
    position: absolute;
    top: 80%;
    left: 55%;
}
#moveButtonFour{
    position: absolute;
    top: 80%;
    left: 80%;
}

#changeFirstPartyMember{
    position: absolute;
    top: 45%;
    left: 5%;
}
#moveSecond{
    position: absolute;
    top: 20%;
    left: 5%;
}
#confirmSwitchSecond{
    position: absolute;
    top: 30%;
    left: 5%;
}
#moveThird{
    position: absolute;
    top: 50%;
    left: 5%;
}
#confirmSwitchThird{
    position: absolute;
    top: 60%;
    left: 5%;
}
#exitSwitch{
    position: absolute;
    top: 80%;
    left: 5%;
    background-color: red;
    border-color: darkred;
}


#openingMessage{
    font: bold 60px cambria, serif;
    text-align: center;
}
#teamMessage{
    font: bold 60px cambria, serif;
    text-align: center;
}
#currentParty{
    font: bold 40px cambria, serif;
    position: absolute;
    left: 15%;
}


#chooseDecidueye{
    position: absolute;
    top: 80%;
}
#chooseIncineroar{
    position: absolute;
    top: 80%;
    left: 15%;
}
#choosePrimarina{
    position: absolute;
    top: 80%;
    left: 30%;
}
#chooseCrabominable{
    position: absolute;
    top: 80%;
    left: 45%;
}
#chooseOranguru{
    position: absolute;
    top: 80%;
    left: 60%;
}
#chooseVikavolt{
    position: absolute;
    top: 80%;
    left: 75%;
}

td {
    vertical-align: top;
}

table {
    margin-bottom: 18px;
}

button {
    font-size: 30px;
}

div {
    margin: 10px 0px;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}